{% extends 'main.html' %}

{% block content %}

{% load static %}

<section class="ls s-pt-60 s-pb-40 s-pt-lg-100 s-pb-lg-80 s-pt-xl-150 s-pb-xl-130 c-mb-20 c-gutter-20">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="icon-box rounded text-center hero-bg">
                    <a href="service-single.html">
                        <i class="color-main fs-56 ico-tow-truck"></i>
                    </a>
                    <h6 class="service-title">
                        <a href="service-single.html">Car Towing</a>
                    </h6>
                    <p>
                        We use strategic marketing tactics that have been proven to work. Social networks, PPC campaigns. We can do it all for Your company!
                    </p>
                    <a href="service-single.html" class="service-btn read-more"><span>Read More</span></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-12">
                <div class="icon-box rounded text-center hero-bg">
                    <a href="service-single.html">
                        <i class="color-main fs-56 ico-car"></i>
                    </a>
                    <h6 class="service-title">
                        <a href="service-single.html">Flood Insurance</a>
                    </h6>
                    <p>
                        We use strategic marketing tactics that have been proven to work. Social networks, PPC campaigns. We can do it all for Your company!
                    </p>
                    <a href="service-single.html" class="service-btn read-more"><span>Read More</span></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-12">
                <div class="icon-box rounded text-center hero-bg">
                    <a href="service-single.html">
                        <i class="color-main fs-56 ico-car-alt"></i>
                    </a>
                    <h6 class="service-title">
                        <a href="service-single.html">Fire Insurance</a>
                    </h6>
                    <p>
                        We use strategic marketing tactics that have been proven to work. Social networks, PPC campaigns. We can do it all for Your company!
                    </p>
                    <a href="service-single.html" class="service-btn read-more"><span>Read More</span></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-12">
                <div class="icon-box rounded text-center hero-bg">
                    <a href="service-single.html">
                        <i class="color-main fs-56 ico-breakdown"></i>
                    </a>
                    <h6 class="service-title">
                        <a href="service-single.html">Hail Damage</a>
                    </h6>
                    <p>
                        We use strategic marketing tactics that have been proven to work. Social networks, PPC campaigns. We can do it all for Your company!
                    </p>
                    <a href="service-single.html" class="service-btn read-more"><span>Read More</span></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-12">
                <div class="icon-box rounded text-center hero-bg">
                    <a href="service-single.html">
                        <i class="color-main fs-56 ico-motorcycle"></i>
                    </a>
                    <h6 class="service-title">
                        <a href="service-single.html">Motorcycle Towing</a>
                    </h6>
                    <p>
                        We use strategic marketing tactics that have been proven to work. Social networks, PPC campaigns. We can do it all for Your company!
                    </p>
                    <a href="service-single.html" class="service-btn read-more"><span>Read More</span></a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-6 col-12">
                <div class="icon-box rounded text-center hero-bg">
                    <a href="service-single.html">
                        <i class="color-main fs-56 ico-accident"></i>
                    </a>
                    <h6 class="service-title">
                        <a href="service-single.html">Accident Insurance</a>
                    </h6>
                    <p>
                        We use strategic marketing tactics that have been proven to work. Social networks, PPC campaigns. We can do it all for Your company!
                    </p>
                    <a href="service-single.html" class="service-btn read-more"><span>Read More</span></a>
                </div>
            </div><!-- .col-* -->

        </div>
    </div>
</section>

{% endblock %}